:root {
    --color-aside-bg: rgb(218, 232, 214);
    --color-roster-bg: rgb(231, 238, 229);
    --color-team-bg: #00843d;
    --color-team-border: #051c2c;
    --color-team-text: #e3f0e3;
}

.team-page img {
    width: 9.2rem;
}
