@media (max-width: 767px) {
    aside {
        display: none;
    }
}

aside img {
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    object-fit: cover;
}

.error-message {
    color: darkred;
    font-weight: bold;
}

.success-message {
    color: darkgreen;
    font-weight: bold;
}